<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.api.mapper.RelationMapper">
  <resultMap id="BaseResultMap" type="com.github.common.entity.Relation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="friend_id" jdbcType="INTEGER" property="friendId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, friend_id
  </sql>
  <select id="selectRelation" resultType="java.lang.Integer">
    select  id from  relation where user_id  = #{userId} and friend_id = #{friendId}
  </select>

</mapper>